.nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;

  /* animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px0;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
