.nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
}
